Schools Attended
<ul>
	<% @schools_attended.each do |attended| %>
	<li><%= attended.name_of_school %> - <a href="/schools/<%= attended.id %>">update</a></li>
	<% end %>
</ul>

<form action="/schools" method="post">
    <input type="text" id="name_of_school" name="[school]name_of_school" value="" placeholder="Add School"/>
  </div>
  <input type="submit"</a>
</form>