Life Events
<ul>
	<% @events_experienced.each do |experienced| %>
	<li><%= experienced.life_event %> - <a href="/life_events/<%= experienced.id %>">update</a></li>
	<% end %>
</ul>

<form action="/life_events" method="post">
    <input type="text" id="life_event" name="[event]life_event" value="" placeholder="Add Event"/>
  </div>
  <input type="submit"</a>
</form>