Add new record.

<form action="/life_events" method="post">
    <input type="text" id="life_event" name="[event]life_event" value="" placeholder="Add Event"/>
  </div>
  <input type="submit"</a>
</form>