<h1>Add New Life Event</h1>

<form action="/life_events" method="post">
  <input type="text" name="event[life_event]" placeholder="Add Life Event" />
  <input type="text" name="event[event_location]" placeholder="Add Location" />
  <input type="text" name="event[event_date]" placeholder="Add Date" />
  <input type="submit"</a>
</form>